body {
    background-color: #141414;
}
.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }

  .slideshow-container video {
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
  }

  
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  